<div>
<h1><%=@player1_name%> vs <%=@player2_name%></h1>
<h1><%= @player2_name %>: 50HP</h1>
<div>
<div>
  <form action="/attack">
    <input type="submit" name="Attack!" value="Attack!">
  </form>
</div>