<div>
<h1><%=@player1.name%> vs <%=@player2.name%></h1>
<h1><%= @player2.name %>: <%= @player2.hit_points %>HP</h1>
<div>
<div>
  <form action="/attack">
    <input type="submit" name="Attack!" value="Attack!">
  </form>
</div>